# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/
.micromamba/

# Editor / OS
.vscode/
.DS_Store

# Win11 WSL

*:Zone.Identifier

# Test outputs
*.h5ad
model.pt
training_log.csv
model_outputs.txt
*.png